* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
.MuiBox-root,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Rubik", sans-serif;
}

.app {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(120, 120, 120);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(93, 93, 93);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.homeContainer {
  max-width: 2000px;
  margin: 0 auto;
}

.profileContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.opacityBox {
  user-select: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.opacityBox:hover {
  opacity: 0.7;
}

@keyframes loopAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.loopAnimation {
  color: transparent;
  background: radial-gradient(circle, #00d5fa, #a40fe9a3);
  background-clip: text;
  background-size: 200% 200%;
  animation: loopAnimation 10s infinite;
  -webkit-animation: loopAnimation 10s infinite;
}

@keyframes wrongImage {
  0% {
    color: rgba(0, 0, 0, 0.54);
    right: 0;
  }

  25% {
    right: -7px;
    color: rgb(147, 38, 38);
  }

  50% {
    right: 7px;
    color: rgb(147, 38, 38);
  }

  75% {
    right: -7px;
    color: rgb(147, 38, 38);
  }

  100% {
    color: rgba(0, 0, 0, 0.54);
    right: 0;
  }
}

.wrongImage {
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  animation: wrongImage 0.7s ease;
  -webkit-animation: wrongImage 0.7s ease;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
